:root {
  /* Basic Colors */
  --clr-gray-1:#282828;
  --clr-gray-2:#414141;
  --clr-gray-3:#5A5A5A;
  --clr-gray-4:#737373;
  --clr-gray-5:#8C8C8C;
  --clr-gray-6:#A5A5A5;
  --clr-gray-7:#BEBEBE;
  --clr-gray-8:#D7D7D7;
  --clr-gray-9:#fcfcfc;


  --clr-primary-darkest: hsl(28,80%,15.1%);
  --clr-primary-darker:hsl(28,80%,25.1%);
  --clr-primary-dark:hsl(28,80%,35.1%);
  --clr-primary: hsl(28,80%,44%);
  --clr-primary-light: hsl(28,80%,54.1%);
  --clr-primary-lighter: hsl(28,80%,64.1%);
  --clr-primary-lightest: hsl(28,80%,74.1%);

  --clr-accent: hsl(73.8,31.7%,32.2%);
  --clr-accent-light: hsl(73.8,31.7%,45.2%);

  --clr-background-darker: hsl(52,93.8%,92.5%, 1);
  --clr-background-dark: hsl(52,93.8%,98.5%, 1);
  --clr-background: hsl(52,93.8%,99.7%, 1);

  --clr-success-darkest: #00723B;
  --clr-success-darker: #008E49;
  --clr-success-dark: #00AA58;
  --clr-success: #00C767;
  --clr-success-light: #00F37E;
  --clr-success-lighter:#21FF94;
  --clr-success-lightest: #4DFFA9;

  --clr-error-darkest: #7B0317;
  --clr-error-darker: #9A031C;
  --clr-error-dark: #B80422;
  --clr-error: #d90429;
  --clr-error-light: #FA0B33;
  --clr-error-lighter: #FB3455;
  --clr-error-lightest: #FC5C77;

  --clr-warning-darkest: #8F5F06;
  --clr-warning-darker: #B27707;
  --clr-warning-dark: #D68E09;
  --clr-warning: #F5A40D;
  --clr-warning-light: #F6B131;
  --clr-warning-lighter: #F8BE54;
  --clr-warning-lightest: #F9CB76;

  /*
    PROPERTY COLORS
  */

  /* Button Color */
  --clr-button-primary: white;
  --clr-button-primary-outline: var(--clr-primary);
  --clr-button-secondary: var(--clr-gray-2);
  --clr-button-secondary-outline: white;
  --btn-disabled-opacity: 0.65
}